
.c-masthead__main, .c-global-header {
  background-image: url('') !important;
  background-color: #0a0a0a;
  background-size: cover;
  background-position: center center;
  .l-wrapper {
    max-width: none;
  }
}

.c-global-header {
  height: 60px;
  margin-bottom: 15px;
  @media(min-width: 600px) {
    height: 0;
  }
}

.c-global-header__logo a {
  padding: 6px 0;
}

.c-masthead {
  border-bottom: none;
}
